<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间 -->
<mapper namespace="com.itheima.mapper.StudentMapper">
    <select id="findUser"
        parameterType="com.itheima.po.Student"
		resultType="com.itheima.po.Student">
		select * from student
	</select>
	<select id="findinformationByUsername" parameterType="String"
		resultType="com.itheima.po.Student">
		select * from student where stuname = #{stuname}
	</select>	
	<select id="findinformationById" parameterType="Integer"
		resultType="com.itheima.po.Student">
		select * from student where id = #{id}
	</select>	
	<update id="updateScore" parameterType="com.itheima.po.Student">
	    update student set
	    score=#{score}
	    where id=#{id}
	</update>
</mapper>